:root.theme-light {
  --font-family: "IBM Plex Mono", monospace;
  --heading-text: #ffc2e6;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --border-color: #ff8dcb;
  --secondary-color: #353430;
}

.theme-light .page {
  background-image: var(--bg-image);
  background-color: #fff1f7;
}

.theme-light .rec {
  display: none;
}
