.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--heading-text);
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

.rec {
  position: absolute;
  right: 71px;
  top: 31px;
}

.rec::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0078);
  background-color: var(--accent-color, #ff0078);
  min-height: 9px;
  min-width: 9px;
  right: -52px;
  top: -13px;
}

.rec::before {
  position: absolute;
  content: "rec";
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color, #ff0078);
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  font-size: 18px;
  font-family: var(--font-family);
  top: -17px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: min-content;
  gap: 11px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding: 2px 13px 4px;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  text-transform: lowercase;
  color: var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid #ff0070;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--border-color);
}

.header__theme-menu-button_active {
  cursor: default;
  border-color: var(--border-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
  color: var(--heading-text, #db00ff);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__text {
  justify-self: flex-start;
  align-self: center;
  font-weight: 700;
  color: var(--section-title-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
}

.content__title {
  color: var(--subtitle-color);
}

.section__article__title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  color: var(--section-title-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.article {
  display: grid;
  gap: 10px;
}

.article__list {
  display: grid;
  gap: 20px;
}

.article__text {
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  width: 100%;
}

.article__list-item .section__article__title {
  font-weight: 400;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color, #ff0070);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__article-text-link:focus {
  outline: 0;
}

.section__article-text-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__section {
  display: grid;
  gap: 21px;
  margin-top: 50px;
}

.content__section:first-child {
  margin-top: 40px;
}

.focus__container {
  display: grid;
  gap: 20px;
}

.concentrate .content__title {
  max-width: 350px;
}

.concentrate__container {
  display: grid;
  gap: 20px;
  align-items: start;
}

.concentrate-better__title {
  color: var(--section-title-color);
  background-color: var(--accent-color);
  width: 100%;
}
.fish__container {
  display: grid;
  gap: 20px;
}

.dark-title {
  color: var(--section-title-color, #000028);
  background-color: var(--accent-color, #ff0070);
  width: 100%;
}

.section__pictures {
  display: grid;
  width: 100%;
  gap: 10px;
  margin-top: 12px;
}

.section__pictures__content {
  width: 100%;
}

.section__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
}

.section__article-text {
  color: var(--text-color, #353430);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
}

.section__article-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  margin-top: 38px;
  justify-content: center;
}

.picture-section {
  margin-top: 50px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
  .rec {
    right: 81px;
    top: 41px;
  }

  .main {
    margin: 0 20px;
  }

  .decorated-zone::after {
    top: 18px;
    right: 18px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    width: 50%;
    justify-self: flex-end;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
  }

  .content__section:first-child {
    margin-top: 60px;
  }

  .article {
    line-height: 1.25;
  }

  .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .focus__container {
    grid-column: span 2;
    margin-left: 7px;
  }

  .concentrate {
    gap: 0px;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .concentrate .content__title {
    width: 32%;
  }

  .concentrate .article__text {
    justify-self: center;
  }

  .concentrate__container {
    margin-top: 22px;
  }

  .concentrate-better {
    margin-top: 85px;
  }

  .fish__container {
    grid-column: span 2;
    margin-bottom: 1px;
    margin-left: 7px;
  }

  .section__pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-auto-flow: dense;
    padding-top: 8px;
  }

  .section__image {
    height: 100%;
  }

  .section__pictures__content:nth-child(1) {
    grid-column: span 2;
  }

  .section__pictures__content:nth-child(2) {
    grid-row: span 2;
  }

  .section__pictures__content:nth-child(3) {
    grid-row: span 2;
  }

  .section__pictures__content:nth-child(5) {
    grid-column: span 2;
  }

  .picture-section {
    margin-top: 80px;
  }

  .footer {
    margin-top: 64px;
  }

  .footer .header__title {
    margin-left: 0px;
  }
}

@media (width >= 1024px) {
  .rec::before {
    right: -32px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .content__section {
    gap: 0px;
  }

  .focus__container {
    grid-column: span 2;
  }

  .concentrate__container {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2 span;
    width: 100%;
  }

  .concentrate .section__article__title {
    justify-self: start;
  }

  .concentrate-better {
    margin-top: 82px;
  }

  .fish__container {
    gap: 23px;
    margin-block-end: 2px;
  }

  .fish__container .title {
    line-height: 21px;
  }

  .footer .decorated-zone {
    top: 81px;
    right: 20px;
  }
}
